<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img style="height: 200px;" src="images/logo.png" alt="logo">
    <!-- <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p> -->
    <hr>

    <% if(typeof n == "undefined"){ %>
      <% n="" %>
    <% } %>
    <% var k=0; %>

    <% console.log(typeof(n)); %>
    <% console.log(n); %>

    <form class="" action="/secrets" method="post" id="jj">
        <input type="number" placeholder="Enter number of people" name="n" value="<%=n%>" min="2" required>
        <button type="submit"  name="button">Submit</button>

    </form>
    <br>
    <script>
  function validateForm() {
    var paidSum = 0;
    var spentSum = 0;

    // Calculate the sum of paid amounts and spent amounts
    for (var i = 0; i < <%=n%>; i++) {
      var paidInput = document.getElementsByName("p")[i];
      var spentInput = document.getElementsByName("s")[i];

      paidSum += parseInt(paidInput.value);
      spentSum += parseInt(spentInput.value);
    }

    // Check if the sums are equal
    if (paidSum !== spentSum) {
      alert("The sum of paid amounts and spent amounts must be equal.");
      return false; // Prevent form submission
    }

    k=1;
    return true; // Allow form submission
  }
</script>

    <% if (!isNaN(n) && n !== '')  { %>
    <form class="" action="/secrets" method="post" onsubmit="return validateForm();">
        <% for(var i=0; i<n; i++){ %>
          <label for="name">Enter the name of the person <%= i+1%></label>
          <input type="text" name="name" value="">
          <br>
          <label for="p">Enter paid amount of person <%= i+1%></label>
          <input type="number" name="p" value="">
          <br>
          <label for="s">Enter spent amount  of person <%= i+1%></label>
          <input type="number" name="s" value="">
          <br>
        <% } %>

          <button style="margin-top=10px;" type="submit" name="submit">Split</button> %>
          <br>
      </form>

      <% } %>

      <% if (typeof payingP !== 'undefined') { %>
      <% if (payingP.length === 0) { %>
        <p>Click on Split Button to see the Transactions</p>
      <% } else { %>
          <h1>Transactions</h1>
          <% payingP.forEach(function(item, index) { %>
          <p><%= item %> pays <%=money[index]%> to <%=gettingP[index]%></p>
          <% }); %>
      <% } %>

      <% } %>



    <br>
    <a class="btn btn-light btn-lg" style="margin-right: 20px;" href="/logout" role="button">Log Out</a>

    <a class="btn btn-dark btn-lg" href="/transactions" role="button">Show Transactions</a>
    <!-- <a class="btn btn-dark btn-lg" href="/trail" role="button">Matrix mode</a> -->
  </div>
</div>

<%- include('partials/footer') %>
